.new-post
  = form_with model: @post do |form|
    %h3
      投稿ページ
    = form.text_field :title, placeholder: "タイトルを入力してください"
    = form.text_field :image, placeholder: "Image Url"
    = form.text_area :body, placeholder: "本文を入力してください"
    = form.submit "SEND"